<div class="row mb-3">
  <div class="col-md-12">
    <h1 class="display-4">
      Movies

    </h1>
    <%= link_to new_movie_path, class: "" do %>
      Add a new movie
    <% end %>
  </div>
</div>


<table class="table">
  <tr>
    <th>

    </th>

    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Duration
    </th>

    <th>
      Description
    </th>

    <th>
      Director
    </th>

    <th>
    </th>
  </tr>

  <% @movies.each do |movie| %>
  <tr>
    <td>
      <img src="<%= movie.image %>" width="80">
    </td>

    <td>
      <%= movie.title %>
    </td>

    <td>
      <%= movie.year %>
    </td>

    <td>
      <%= movie.duration %> minutes
    </td>

    <td>
      <%= movie.description %>
    </td>

    <td>
      <%= link_to movie.director.name, "/directors/#{movie.director.id}" %>
    </td>

    <td>
      <a href="/movies/<%= movie.id %>" class="btn btn-primary">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
<div class="card-footer d-flex justify-content-center">
  <%= paginate @movies, theme: 'twitter-bootstrap-4' %>
</div>
