<h1>
  All directors
</h1>

<a href="/directors/new">
  Add a new director
</a>

<hr>

<table class="table">
  <tr>

    <th>
      Image
    </th>

    <th>
      Dob
    </th>

    <th>
      Name
    </th>

    <th>
      Bio
    </th>



    <th>
    </th>
  </tr>

  <% @directors.each do |director| %>
  <tr>
    <td>
      <img src="<%= director.image %>" width="80">
    </td>

    <td>
      <%= director.dob %>
    </td>

    <td>
      <%= director.name %>
    </td>

    <td>
      <%= truncate(director.bio) %>
    </td>



    <td>
      <a href="/directors/<%= director.id %>" class="btn btn-primary">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>

<div class="card-footer d-flex justify-content-center">
  <%= paginate @directors, theme: 'twitter-bootstrap-4' %>
</div>
